.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: purple;
  color: wheat;
}

.circle-div {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  background-color: transparent;
}
